

.navbar{
    z-index:1;
    margin-bottom:0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a{
    color:#ffffff;
}


header.masthead{
    width:100%;
    height:600px;
    margin-bottom: 10%;
    z-index: 0;
    position: relative;
    top:0;
}

.img{
    width:100%;
    height:600px;
    background-position: center;
}
.container {
    z-index: 1;
    position: absolute;
    width:100%;
    top:40%;
    text-align: center;
    color: gray;
  }

  .text{
    font-size:70px;
  }





.content{
    width:60%;
    margin-left:20%;
    margin-right: 0;
    margin-bottom: 50px;
}

.content > .post > .post-title{
    font-size: 30px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content > .post > .post-meta{
    margin-bottom: 50px;
    color: #888888;
    font-style: italic;
}

.content > .post > a{
    font-size: 17px;
    font-style: inherit;
    width: 100px;
    height: 40px;
    border-top: 10px;
}



footer {
    padding: 50px 0 65px;
    
  }

  footer > a {
   width: 100px;
    height: 100px;
  } 
  
  footer .list-inline {
    margin: 0;
    padding: 0;
  }
  
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }



