.navbar{
    z-index:1;
    margin-bottom:0px;
}

.navbar a{
    color:#000000;
}

.content{
    margin-top:10%;
    margin-left: 25%;
    margin-right: 25%;
}
.content h3{
    text-align:center;
    
}

.map{
    width:750px;
    height: 300px;
   
    background: #777777;
}
.row{
    margin-bottom:100px;
}