<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<title>ICS-LAB</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link href="/../css/detail.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<nav class="navbar navbar-fixed-top">
		<div class="container-fluid">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="/"><strong>ICS-LAB</strong> </a>
		  </div>
		  	<div class="collapse navbar-collapse" id="myNavbar">
				<ul  style="margin-left:20%" class="nav navbar-nav navbar-right">
				<li><a href="/login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
			<ul class="nav navbar-nav ">
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" >연구실 <span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="/award.html">수상내역</a></li>
				  <li><a href="/location.html">연구실위치</a></li>
				</ul>
			  </li>
			  <li><a href="/member.html">구성원</a></li>
			  <li><a href="/project.html">프로젝트</a></li>
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" >게시판 <span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="/award.html">게시판</a></li>
				  <li><a href="/schedule.html">일정</a></li>
				</ul>
			  </li>
			</ul>
			
		  </div>
		</div>
	  </nav>
  
    
      
	  <div class="butt">
     		<table class="table">
                    <h3>게시글 조회</h3>
            <thead>
                <tr>
                    <th>제목</th>
                    <th width="60%"><%=rows.title%></th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <th>번호</th>
                    <th width="60%"><%=board_no%></th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <th>작성자</th>
                    <th width="60%"><%=rows.username%></th>
					<th>&nbsp;</th>
				</tr>
				<tr>
                    <th>파일</th>
                    <th width="60%"><a href='/board/<%=rows.file%>/download'><%=rows.file%></a></th>
					<th>&nbsp;</th>
				</tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td width="60%"><%=rows.content%></td>
                    <td>&nbsp;</td>
				</tr>
            </tbody>
		</table>
            <a href="/board/update/<%=id%>/<%=board_no%>/<%=rows.order%>" type="button"><button class="btn btn-info">게시글수정</button></a>
			<a href="/board/list" type="button"><button class="btn btn-info">뒤로가기</button></a>
			<style type="text/css">
				form{display:inline}
			</style>
			<%if(file !==null || file !==undefined){ %>
			<form action="/board/<%=rows.file%>/<%=rows.username%>/<%=rows.order%>/delete" method="post">
			<input type="submit" class="btn btn-info" value="게시글삭제" />  
			</form>
			<% }else{ %>
				<form action="/board/<%=rows.username%>/<%=rows.order%>/delete" method="post">
				<input type="submit" class="btn btn-info" value="게시글삭제" /> 
				</form>
				<% } %>
		
		</div> 


		

		<div class="write">
			<p><strong>댓글</strong></p>
			<table>
				<form action="/board/<%=id%>/<%=order%>/comment" method="post">
				<tr>
					<td><textarea name="comment" class="form-control" id="content" cols="50%" rows="2" placeholder="comment"></textarea></td>
					<td>  <input type="submit" class="btn btn-info" value="작성" /> </td>
					<td></td>
				</tr>
			</form>
		 </table>
		</div>
		  <div class="comment">
			<table>
			<% for(var i=0;i<result.length;i++) { %>
				<tr>
					<th style="font-size: 16px;"> <%=result[i].id %> &nbsp;</th>
					<th style="font-size: 9px; text-decoration-color: gray;"> <%= result[i].com_date %></th>
					<th style="font-size: 9px;"><a href="/board/<%=result[i].id%>/<%=result[i].com_no%>/<%=board_no%>/<%=result[i].order%>/comment/update">|수정|</a><a href="/board/<%=result[i].id%>/<%=result[i].com_no%>/<%=result[i].order%>/comment/delete">|삭제|</a></th>
				</tr>
				<tr>
					<td width="70%"><%= result[i].com_content %></td>
					<td> &nbsp;</td>
					<td></td>
				</tr>
			<% } %>
		</table>
		</div>
    

	
		<footer>
			<ul class="list-inline text-center">
			  <li class="list-inline-item">
				<a href="https://drive.google.com/drive/shared-with-me">
				  <span class="fa-stack fa-lg">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-google-drive fa-stack-1x fa-inverse"></i>
				  </span>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a href="https://www.facebook.com/CUIT2740/?__tn__=%3C-R&eid=ARCejKjC6iPZeC22fXzy6UxCsvYnwaE5Q2nmFR4Kd-0BexDgIRmz8Etm6Ma1jZOhrPpbfQzWH49MysaN&hc_ref=ARTN6W6wgedmotTkTgbvSQJxujkLHTyNeDBdRB3rnhEYgameCCOfc1SHp_NU8GHhA_c&__xts__[0]=68.ARCpAeuzBVRVUiERY7hijPoxWB5_bdmqwXoT57fCP4aylmdeM1rjIUCDel7vBnXZPKa2Ku3jNHvfPh0zltg2Q7GEM2a0jd1VeiAr1OcZnBn-yhcuacEM5UjZ619k3-nrznaP7wbGlQShR29r-EzPLpKkbz2BKymdJnP2vk6mdT3WLBI4H9vlGpPGN-hz-M0IzIoIC98Y5jRzqBzeZsd-s8Vl_RQCEO61CQQI3_yynN4Pn8tRYLhX6H66s2o8eGnSnPULEyVth38o4yRYQEeILVMK6kuTI6blud1cEt1SC9pDU4U6szoVLl54DOr79JQhyqKPIyWdJHvKKRxgHw7S0Z2tS0dm">
				  <span class="fa-stack fa-lg">
					<i class="fas fa-circle fa-stack-2x" ></i>
					<i class="fab fa-facebook-f fa-stack-1x fa-inverse" ></i>
				  </span>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a href="https://github.com/DCU-ICS-LAB">
				  <span class="fa-stack fa-lg">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-github fa-stack-1x fa-inverse" ></i>
				  </span>
				</a>
			  </li>
			</ul>
			<br/><br/>
			<p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
	</footer>
	
	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	</body>
	</html> 